<div class="search">
    <div class="menu">
        @if(categories){
        <div class="menu__category">
            <p class="menu__category__title">Category</p>
            <div class="menu__category__categories">
                @for (category of categories; track category.name) {
                <p [ngClass]="{'menu__category__categories__selected': selectedCategory && (selectedCategory.slug == category.slug)}"
                    (click)="onSelectCategory(category)">
                    {{category.name}}
                </p>
                }
            </div>
        </div>
        }

        @if(brands){
        <div class="menu__brand">
            <p class="menu__brand__title">Brand</p>
            <div class="menu__brand__brands">
                @for (brand of brands; track brand.name) {
                <div class="menu__brand__brands__with-numbers">
                    <p-checkbox [(ngModel)]="selectedBrands" [label]="brand.name" name="group" [value]="brand.name"
                        (onChange)="onFilterChange()" />
                    <p>{{brand.count}}</p>
                </div>
                }
            </div>
        </div>
        }


        <div class="menu__price">
            <p class="menu__price__title">Price Range (EGP)</p>
            <div class="menu__price__price">
                <div class="menu__price__price__section">
                    <p>From</p>
                    <input placeholder="From" [(ngModel)]="priceFrom" min="0" (change)="onFilterChange()">
                </div>
                <div class="menu__price__price__section">
                    <p>To</p>
                    <input placeholder="To" [(ngModel)]="priceTo" min="1" (change)="onFilterChange()">
                </div>
            </div>
        </div>

        <div class="menu__rating">
            <p class="menu__rating__title">Product Rating</p>
            <div class="menu__rating_rating">
                <p-slider [(ngModel)]="rangeRating" (onSlideEnd)="onFilterChange()" [range]="true" [min]="1" [max]="5"
                    [step]="1" ariaLabel="Number" />
                <div class="menu__rating__rating__stars">
                    <p>1 Star</p>
                    <p>5 Stars</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product-search">
        @if (totalProducts) {
        <p class="product-search__results">
            {{totalProducts}} Results
            @if(selectedCategory){
            for <b>"{{selectedCategory.name}}"</b>
            }
        </p>
        }
        @if (products){
        <div class="products">
            @for (product of products; track product.id) {
            <div class="products__product" [routerLink]="['/product', product.id]">
                <img class="products__product__image" [ngSrc]="product.images[0]" width="193" height="182"
                    loading="lazy">
                <div class="products__product__details">
                    <p class="products__product__details__title">{{ product.title }}</p>
                    <div class="products__product__details__price-and-rating">
                        <p class="products__product__details__price-and-rating__price">EGP <b>{{product.price}}</b></p>
                        <div class="products__product__details__price-and-rating__rating">
                            <img class="products__product__details__price-and-rating__rating__star"
                                ngSrc="/assets/images/star.svg" width="7" height="7" loading="lazy">
                            <p><b>{{product.rating}}</b></p>
                            <p>(445)</p>
                        </div>
                    </div>
                </div>
            </div>
            } @empty {
            <p>There are no items.</p>
            }
        </div>
        }

        @if (products && products.length > 20){
        <div class="product-search__paginator">
            <p-paginator (onPageChange)="onPageChange($event)" [rows]="20" [totalRecords]="totalProducts" />
        </div>
        }
    </div>
</div>