<div class="search">
    <div class="menu">
        <div class="menu__category">
            <p class="menu__category__title">Category</p>
            <div class="menu__category__categories">
                @for (category of categories; track category.name) {
                <p class="menu__category__categories__selected">{{category.name}}</p>
                }
            </div>
        </div>

        <div class="menu__brand">
            <p class="menu__brand__title">Brand</p>
            <div class="menu__brand__brands">
                @for (category of categories; track category.name) {
                <div class="menu__brand__brands__with-numbers">
                    <p-checkbox [(ngModel)]="selectedBrands" [label]="category.name" name="group"
                        [value]="category.name" />
                    <p>20</p>
                </div>
                }
            </div>
        </div>

        <div class="menu__price">
            <p class="menu__price__title">Price Range (EGP)</p>
            <div class="menu__price__price">
                <div class="menu__price__price__section">
                    <p>From</p>
                    <input placeholder="From">
                </div>
                <div class="menu__price__price__section">
                    <p>To</p>
                    <input placeholder="To">
                </div>
            </div>
        </div>

        <div class="menu__rating">
            <p class="menu__rating__title">Product Rating</p>
            <div class="menu__rating_rating">
                <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="1" [max]="5" [step]="1" ariaLabel="Number" />
                <div class="menu__rating__rating__stars">
                    <p>1 Star</p>
                    <p>5 Stars</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product-search">
        <p class="product-search__results">136 Results for <b>"Electronics & Mobiles in Egypt"</b></p>
        <div class="products">
            @for (product of products; track product.id) {
            <div class="products__product" [routerLink]="['/product', product.id]">
                <img class="products__product__image" [ngSrc]="product.images[0]" width="193" height="182"
                    loading="lazy">
                <div class="products__product__details">
                    <p class="products__product__details__title">{{ product.title }}</p>
                    <div class="products__product__details__price-and-rating">
                        <p class="products__product__details__price-and-rating__price">EGP <b>{{product.price}}</b></p>
                        <div class="products__product__details__price-and-rating__rating">
                            <img class="products__product__details__price-and-rating__rating__star"
                                ngSrc="/assets/images/star.svg" width="7" height="7" loading="lazy">
                            <p><b>{{product.rating}}</b></p>
                            <p>(445)</p>
                        </div>
                    </div>
                </div>
            </div>
            } @empty {
            <p>There are no items.</p>
            }
        </div>

        <div class="product-search__paginator">
            <p-paginator (onPageChange)="onPageChange($event)" [rows]="20" [totalRecords]="totalRecords" />
        </div>
    </div>
</div>